@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-Merriweather: "Merriweather", serif; */
  --font-Merriweather: "Cambo", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Merriweather);
}
